# AWS S3 Configuration
# Hot storage configuration
S3_HOT_ENDPOINT=http://192.168.1.100:9000
S3_HOT_ACCESS_KEY_ID=changeme
S3_HOT_SECRET_ACCESS_KEY=changeme
S3_HOT_BUCKET_NAME=mybucket

# Cold storage configuration
S3_COLD_ENDPOINT=http://192.168.1.101:9000
S3_COLD_ACCESS_KEY_ID=changeme
S3_COLD_SECRET_ACCESS_KEY=changeme
S3_COLD_BUCKET_NAME=mybucket-cold

S3_REGION=us-east-1

DATABASE_URL="postgresql://postgres:password@localhost:5432/mydatabase"

NEXTAUTH_URL=http://localhost:3000