# S3 Configuration
S3_ENDPOINT=http://192.168.1.100:9000
S3_ACCESS_KEY_ID=changeme
S3_SECRET_ACCESS_KEY=changeme
S3_BUCKET_NAME=mybucket

S3_REGION=us-east-1

DATABASE_URL="postgresql://postgres:password@localhost:5432/mydatabase"
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# SMTP Configuration
SMTP_HOST=smtp.example.com
SMTP_USER=user@example.com
SMTP_PASS=yourpassword
SMTP_FROM="Your App <app@example.com>"

LOG_MIN_LEVEL=INFO
JWT_SECRET=your_jwt_secret

EXPIRED_FILE_POLICY=cold
